$red_color: red;

.text-red{
  color: $red_color;
}

.inline{
  display: inline-flex;
}

.font-family-principal{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.center{
  text-align: center;
}

.center-component{
  display: flex;
  justify-content: center;
}